/* Project card direct children styles updated for wrapper */
.project-details {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.project-details>.project-title {
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-align: left;
}

.project-details>.project-tags {
    margin-bottom: 0.75rem;
    text-align: left;
}

.project-details>.project-description {
    margin-bottom: 0.75rem;
    text-align: left;
}

.project-details>.view-more-btn {
    margin-bottom: 0.75rem;
    text-align: left;
}

.project-details>.btn-container {
    margin-bottom: 0;
    margin-top: auto;
    text-align: left;
}